.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.calculator-grid {
  /* CENTER THE CALCULATOR START */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* CENTER THE CALCULATOR END */

  display: grid;
  padding: 25px;
  grid-gap: 25px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, auto);
  background-color: hsl(228, 45%, 44%);
  width: 400px;
  height: 650px;
}

.calc-top {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgb(60, 255, 0);
}

.display {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: midnightblue;
}

.numpad {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 7;
  background-color: rgb(255, 0, 0);
}
