.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

.calculator-grid {
  /* CENTER CALCULATOR */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  display: grid;
  padding: 25px;
  grid-gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: hsl(222, 26%, 31%);
  width: 375px;
  height: 650px;
}

.calc-top {
  margin: 0;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.top-one {
  display: flex;
  margin: 0;
  width: 50%;
  height: auto;
}

.top-one-calc {
  color: hsl(0, 0%, 100%);
  align-self: center;
  font-size: 2.5em;
}

.top-two {
  display: flex;
  margin: 0;
  width: 50%;
}

.top-two-theme {
  color: hsl(0, 0%, 100%);
  align-self: center;
  font-size: 1em;
  width: 50%;
  text-transform: uppercase;
}

.top-two-radios {
  color: hsl(0, 0%, 100%);
  width: 50%;
}

.display {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: hsl(224, 36%, 15%);
}

.display-outcome {
  font-size: 50px;
  padding-right: 25px;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  color: hsl(0, 0%, 100%);
}

.numpad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 25px;
  grid-gap: 10px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 7;
  background-color: hsl(223, 31%, 20%);
}

.number {
  border: 0;
  padding: 0;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  font-size: 32px;
}

.reset {
  grid-column-start: 1;
  grid-column-end: 3;
}

.equals {
  grid-column-start: 3;
  grid-column-end: 5;
}
