@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

/* - Mobile: 375px
- Desktop: 1440px */

/* SETTING STANDARDS TO ZERO */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

/* COLORS */

:root {
  /* Dark Mode Elements */
  --darkblue: hsl(209, 23%, 22%);
  /* Dark Mode Background */
  --verydarkblue: hsl(207, 26%, 17%);
  /* Light Mode Text */
  --superdarkblue: hsl(200, 15%, 8%);
  /* Light Mode Input */
  --darkgrey: hsl(0, 0%, 52%);
  /* Light Mode Background */
  --verylightgrey: hsl(0, 0%, 98%);
  /* Dark Mode Text & Light Mode Elements */
  --white: hsl(0, 0%, 100%);
}

/* START CSS */

.header {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  padding: 0 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.where {
  font-size: 16px;
  font-weight: 800;
}

.darkmode-container {
  display: flex;
  align-items: center;
}

.crescent-moon {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.darkmode {
  font-size: 16px;
  font-weight: 600;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.dropdown-menu {
  margin: 40px;
}

.country-card-container {
  height: 100%;
}

.invisible {
  display: none;
}

.country-card {
  max-width: 295px;
  overflow: hidden;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 420px;
  display: flex;
  flex-direction: column;
  margin: 40px 40px;
  cursor: pointer;
}

.country-container:hover {
  border: 1px solid black;
}

.country-container:active {
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.8);
}

.flag {
  height: 45%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.text-container {
  height: 55%;
  padding: 30px;
}

.text-container h1 {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.text-container h2 {
  font-size: 1.1rem;
  font-weight: 600;
}

.h2text {
  font-weight: 300;
}

/* COUNTRY DETAIL CSS */

.country-detail-container {
  margin: 30px;
  height: 100%;
}

.back-btn {
  margin-bottom: 30px;
}

.flag-detail {
  width: 100%;
  height: 210px;
  margin-bottom: 30px;
}

.text-detail-top h1 {
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 15px;
}

.text-detail-top h2 {
  font-size: 14px;
  line-height: 2;
}

.text-detail-top {
  margin-bottom: 20px;
}

.text-detail-bottom h2 {
  font-size: 14px;
  line-height: 2;
}

.text-detail-bottom {
  margin-bottom: 20px;
}

.border-countries-title {
  font-size: 16px;
  margin-bottom: 12px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
